<nav>
    <ul>
        <div class="menu">
            <li><a routerLink="/">Accueil</a></li>
            <li><a routerLink="/category">Gérer catégories</a></li>
        </div>
        <div class="buttons">
            <button *ngIf="!isConnected"><a routerLink="/login">Se connecter</a></button>
            <button *ngIf="isConnected"><a (click)="logout()">Se déconnecter</a></button>
        </div>
    </ul>
</nav>
