<div class="main-connect">
    <div class="connect">
        <h2>Connexion</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <input type="text" placeholder="Entrez votre login ou email" formControlName="credential" >
            <input type="password" placeholder="Entrez votre mot de passe" formControlName="password">
            <input type="submit" value="Me connecter">
        </form>
        <a routerLink="/register">Pas de compte ? Cliquez ici pour en créer un</a>
    </div>
</div>
