<div class="main">
    <h2>Créer une nouvelle catégorie :</h2>
    <a routerLink="/category">Revenir à la liste des catégories</a>
    <form [formGroup]="categoryForm" (ngSubmit)="createCat()">
        <input type="text" formControlName="name" placeholder="Entrez le nom de la catégorie">
        <input type="text" formControlName="icon" placeholder="Entrez l'icone de la catégorie">
        <input type="submit" value="Créer">
    </form>

</div>