.main {
    width: 80vw;
    margin: auto;
}

.main * {
    margin-bottom: 2%;
}
input[type="submit"] {
    background-color: rgb(93, 20, 93);
    border: 1px solid rgb(93, 20, 93);
    color : lightpink;
    cursor: pointer;
    width: 70%;
    height: 2em;
}

input[type="submit"]:hover {
    background-color: lightpink;
    color :  rgb(93, 20, 93);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 }

 input {
    width: 70%;
    height: 2em;

}

input:focus {
    outline: 1px solid rgb(93,20,93);
}