.main {
    width: 80vw;
    margin: auto;
}

.cat {
    display: flex;
    margin-bottom: 2%;
}

.catinfo {
    width: 20%;
}

.buttons {
    display: flex;
    width: 30%;
}

a {
    color : rgb(93, 20, 93);
    text-decoration: none;
}

button, .button{
    margin: 0 1%;
    padding: 1% 2%;
    background-color: rgb(93, 20, 93);
    border: 1px solid rgb(93, 20, 93);
    color : lightpink;
    cursor: pointer;
}

button:hover, .button:hover {
    background-color: lightpink;
    color :rgb(93, 20, 93)
}