<div class="main">
    <h2>Liste des catégories</h2>
    <div class="cat" *ngFor="let category of categories">
        <div class="catinfo">{{category.name}} {{category.icon}}</div>
        <div class="buttons">
            <a class="button" routerLink="/edit-category/{{category._id}}">Modifier ✒</a>
            <button (click)="delete(category._id)">Supprimer 🗑</button>
        </div>
    </div>
    <a routerLink="/add-category">Ajouter une catégorie</a>
</div>